#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

body {
background-color: #A8A8A8;
font-family: 'ZCOOL QingKe HuangYou', cursive;

}
